html,
body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
}

.embed-responsive .card-img-top {
	object-fit: cover;
}

.modal-header,
.modal-footer {
	border: none !important;
}
